<body>
    <h1>Add Manager</h1>

    <!-- Check if there is an error message to display -->
    <% if(errorMessage !="" ){ %>
        <ul>
            <!-- Display the error message -->
            <li>
                <%= errorMessage %>
            </li>
        </ul>
        <% }else { %>
            <!-- Display requirements for manager details if there is no error message -->
            <ul>
                <li>Manager ID must be 4 characters</li>
                <li>Name must be > than 5 characters</li>
                <li>Salary must be between 30,000 and 70,000</li>
            </ul>
            <% } %>

                <!-- Form for adding a manager -->
                <form action="/managers/add" method="POST">
                    <label>Manager ID:</label>
                    <!-- Input field for Manager ID -->
                    <input type="text" name="mgrid"><br>

                    <label>Name</label>
                    <!-- Input field for Manager's name -->
                    <input type="text" name="name"><br>

                    <label>Salary</label>
                    <!-- Input field for Manager's salary -->
                    <input type="text" name="salary"><br>

                    <!-- Submit button to add the manager -->
                    <input type="submit" value="Add">
                </form>

                <!-- Link to the home page -->
                <a href="/">Home</a>
</body>