<h1>Error Message</h1>

<h2>
    <!-- Displays message that the current product cannot be deleted because it is in stores -->
    <%= pid %> is currently in stores and cannot be deleted
</h2>

<!-- Link to the home page -->
<a href="/">Home</a>