<a href="/stores">Stores</a> <!-- Link to the Stores page -->
<br>
<a href="/products">Products</a> <!-- Link to the Products page -->
<br>
<a href="/managers">Managers (MongoDB)</a> <!-- Link to the Managers page -->