<style>
    table, th, td {
    border: 1px solid black;
  }
</style>

<h1>Stores</h1>

<a href="/store/add">Add Store</a>

<table>
    <tr>
        <th>SID</th>
        <th>Location</th>
        <th>Manager ID</th>
        <th>Action</th>
    </tr>

    <% stores.forEach((store) => { %>

    <tr>
        <td><%= store.sid %></td>
        <td><%= store.location %></td>
        <td><%= store.mgrid %></td>
        <td><a href="/store/edit/<%= store.sid %>">Update</a></td>
    </tr>

    <% }) %>
</table>
    

<a href="/">Home</a>