<!-- Border for the table -->
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<h1>Stores</h1>

<!-- A link to add a new store -->
<a href="/store/add">Add Store</a>

<table>
    <tr>
        <th>SID</th>
        <th>Location</th>
        <th>Manager ID</th>
        <th>Action</th>
    </tr>

    <!-- Iterate over all of the stores and add their details to a new row in the table -->
    <% stores.forEach((store)=> { %>

        <!-- Table row for each manager -->
        <tr>
            <!-- Display Store ID -->
            <td>
                <%= store.sid %>
            </td>

            <!-- Display Store Location -->
            <td>
                <%= store.location %>
            </td>

            <!-- Display Manager ID of the manager managing the store -->
            <td>
                <%= store.mgrid %>
            </td>

            <!-- Link to update the store's details -->
            <td><a href="/store/edit/<%= store.sid %>">Update</a></td>
        </tr>

        <% }) %>
</table>

<!-- Link to the home page -->
<a href="/">Home</a>